body{
  font-family: 'Orbitron', sans-serif;
  background-image: url("../image/farbe3.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto auto;
}
img{
  width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: red;
}

.head-cont{
  width: 100%;
  position: fixed;
  top: 0px;
}
.head1{
  height: 70px;
  width: 600px;
  margin: auto;
  text-align: center;
}

.wrapper{
  max-width: width:3000px;
  margin-left: auto;
  margin-right: auto;

  padding: 20px;
  margin-top: 70px;
}
